/src/ch/ethz/mc/ui/widgetset
/WebContent/VAADIN/themes/mc/styles.css
/WebContent/VAADIN/widgetsets/ch.ethz.mc.ui.widgetset.McWidgetset
/WebContent/WEB-INF/lib/FileServletWrapper.jar
/javadoc
/build
/out
/lib
/release
