<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MC</display-name>
	<description>MobileCoach</description>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<listener>
		<listener-class>ch.ethz.mc.FirstInitializations</listener-class>
	</listener>
	<listener>
		<listener-class>ch.ethz.mc.MC</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>MC everything</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<mime-mapping>
		<extension>md</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>json</extension>
		<mime-type>application/json</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>aac</extension>
		<mime-type>audio/aac</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mp4</extension>
		<mime-type>audio/mp4</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>m4a</extension>
		<mime-type>audio/mp4</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mp1</extension>
		<mime-type>audio/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mp2</extension>
		<mime-type>audio/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mp3</extension>
		<mime-type>audio/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpg</extension>
		<mime-type>audio/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mpeg</extension>
		<mime-type>audio/mpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>oga</extension>
		<mime-type>audio/ogg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ogg</extension>
		<mime-type>audio/ogg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>wav</extension>
		<mime-type>audio/wav</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>webm</extension>
		<mime-type>audio/webm</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>mp4</extension>
		<mime-type>video/mp4</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>m4v</extension>
		<mime-type>video/mp4</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ogv</extension>
		<mime-type>video/ogg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>webm</extension>
		<mime-type>video/webm</mime-type>
	</mime-mapping>
</web-app>