<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %40.40c %x - %m%n" />
		</Console>
		<File name="File" fileName="/mhc_data/mhc.log" bufferedIO="false" append="true">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5p %80.80c %x - %m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
		<Logger name="org.isgf.mhc" level="TRACE" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" level="WARN" />
		</Logger>
	</Loggers>
</Configuration>