<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %40.40c [%t] - %m%n" />
		</Console>
		<File name="File" fileName="${sys:mc_logging_folder}/mc.log"
			bufferedIO="false" append="true">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%80.80t] %-5p %80.80c %x - %m%n" />
		</File>
		<RollingFile name="RollingFile"
			fileName="${sys:mc_logging_folder}/mc-everything.log"
			filePattern="${sys:mc_logging_folder}/mc-everything-%d{yyyy-MM-dd}_%i.log.zip"
			bufferedIO="false">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%80.80t] %-5p %80.80c %x - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="false" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="999999" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<Logger name="ch.ethz.mc" level="DEBUG" additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.model.ModelObject" level="INFO"
			additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.services.InterventionExecutionManagerService"
			level="INFO" additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.services.internal.ModelObjectExchangeService"
			level="INFO" additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.services.threads.MonitoringSchedulingWorker"
			level="INFO" additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger
			name="ch.ethz.mc.services.internal.RecursiveAbstractMonitoringRulesResolver"
			level="INFO" additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.services.threads.IncomingMessageWorker"
			level="INFO" additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.services.threads.OutgoingMessageWorker"
			level="INFO" additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.tools.StringValidator" level="INFO"
			additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.tools.RuleEvaluator" level="INFO"
			additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.tools.VariableStringReplacer" level="INFO"
			additivity="false">
			<AppenderRef ref="Console" level="${sys:mc_logging_console_level}" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="${sys:mc_logging_rolling_file_level}" />
		</Logger>
		<Logger name="ch.ethz.mc.services.internal.DeepstreamCommunicationService"
			level="DEBUG" additivity="false">
			<AppenderRef ref="Console" level="DEBUG" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="DEBUG" />
		</Logger>
		<Logger name="ch.ethz.mc.model.memory.SystemLoad" level="DEBUG"
			additivity="false">
			<AppenderRef ref="Console" level="DEBUG" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="DEBUG" />
		</Logger>
	</Loggers>
</Configuration>