<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %40.40c %x - %m%n" />
		</Console>
		<File name="File" fileName="${sys:mhc_logging_folder}/mhc.log" bufferedIO="false"
			append="true">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%80.80t] %-5p %80.80c %x - %m%n" />
		</File>
		<RollingFile name="RollingFile" fileName="${sys:mhc_logging_folder}/mhc-everything.log"
			filePattern="${sys:mhc_logging_folder}/mhc-everything-%d{yyyy-MM-dd}_%i.log" bufferedIO="false">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%80.80t] %-5p %80.80c %x - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="false"/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<Logger name="org.isgf.mhc" level="DEBUG" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" level="WARN" />
			<AppenderRef ref="RollingFile" level="DEBUG" />
		</Logger>
	</Loggers>
</Configuration>